
<ion-content class="ion-padding ion-text-center" color="primary">
  <img src="../../assets/icon/logo.png" class="logo"/>

  <div class="tittle">
    <h2>Bievenido</h2>
    <p>Disfrute de la app para su comodidad</p>
  </div>

  <div class="ion-margin-top">
    <ion-button [routerLink]="['/register']" expand="block" class="ion-margin-top" color="white">Registrarse</ion-button>
    <ion-button [routerLink]="['/login']" expand="block" class="ion-margin-top" color="white"> Ingresar</ion-button>
  </div>
</ion-content>
